@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.container{
    font-family: 'Poppins',sans-serif;
    margin-top: 30px;
    height:60%;
    background-color: #efcded;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.h2{
    color:#be5ed4 !important;
}
.box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:600px;
    height:500px;
    background-color: #be5ed4;
    border-radius: 15px;
    color:#efcded;
    margin-bottom:50px;
}
.play-btn{
    background-color: #efcded;
    color:#333;
    margin-top: 20px;
    width:150px;
 margin-bottom:20px;
}


/* Media query */

@media only screen and (max-width:668px) {
     .box{
         width:100%;
         background-color: transparent;
         color:#be5ed4;
         font-weight:bold;
         text-align: center;
     }
     .play-btn{
         background-color: #be5ed4;
         color:#fff;
     }
}