.result{
    height:110vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
/* table{
    width:600px;
    
} */
h1{
    margin-bottom: 20px !important;
}
.Table{
    width:500px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pass{
    width:800px;
   
    background-color: #fff;
    color:#be5ed4;
    border-radius: 15px;
    /* text-align: center; */
     margin-bottom: 20px;
     height:400px;
}
h4{
    text-align: center;
}
.pass-content{
    display:grid;
    grid-template-columns:8fr 4fr ;
    /* justify-content: center;
    align-items: center; */
}
.BUTTON{
    width:150px;
    background-color: #be5ed4;
   
    padding:10px;
    margin-bottom: 20px;
}
table{
    margin:0 auto;
}
th,td{
    color:#333;
}
tr:nth-child(1){
    display: hidden;
}
/* Media Query */
@media only screen and (max-width:568px){
    .pass{
        width:100%;
        border-radius: 0px;
    }
}