.container{
    height:90vh;
}
h1{
    margin-top: -20px;
}
.form{
    margin-top: -15px;
    width:400px;
    background-color:#be5ed4;
}
.error{
    color:#fff;
    text-align:center;
}

@media only screen and (max-width: 400px)  {
    .form {
        width:250px;
    }
}